@tailwind base;
@tailwind components;
@tailwind utilities;

.dotted {
  background-color: #ffffff;
  opacity: 0.5;
  background-image: radial-gradient(#444cf7 1.2000000000000001px, #ffffff 1.2000000000000001px);
  background-size: 38px 38px;
}

.move {
  animation: move 200s linear infinite;
}

@keyframes move {
  0% {
    top: 0;
    left: 0;
  }

  100% {
    top: -100%;
    left: -100%;
  }
}
